aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
email-validator
ffmpeg-python
Flask==2.3.3
gitpython
hachoir
heroku3
motor
paypalrestsdk
pillow
psutil
py-tgcalls==0.9.7
pytz
pykeyboard
pyrogram>=2.0.106
python-dotenv
pyyaml
requests
speedtest-cli
tgcrypto
unidecode
uvloop